# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Popular data science libraries
- Mathematical operations in a Jupyter notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Plotly
5. Seaborn

|commonly used libraries in data science|
| -------------------|
| R Studio|
| IBM Watson Studio|
| Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author:
Juraj Zigo